@model UserDTO
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-dark text-white text-center text-uppercase">
                    Kayıt Ol
                </div>
                <div class="card-body">
                    <form asp-action="AddUser" method="post">
                        <div class="mb-3">
                            <label class="form-label">Kullanıcı Adı</label>
                            <input type="text" class="form-control" asp-for="Name" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" asp-for="Email" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Kayıt Tarihi</label>
                            <input type="date" class="form-control" asp-for="MembershipDate" required>
                        </div>

                        <button type="submit" class="btn btn-dark mx-auto d-grid w-100 text-uppercase">Kayıt Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
