<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibarySystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibarySystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm custom-navbar border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase custom-nav-link fw-bolder" asp-area="" asp-controller="Home" asp-action="Index">LibarySystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item ms-2">
                            <a class="nav-link text-uppercase custom-nav-link fw-bolder" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase custom-nav-link fw-bolder" asp-area="" asp-controller="User" asp-action="AddUser">Kullanıcı Ekle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase custom-nav-link fw-bolder" asp-area="" asp-controller="User" asp-action="UserList">Kullanıcı Listesi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase custom-nav-link fw-bolder" asp-area="" asp-controller="Book" asp-action="AddBook">Kitap Ekle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase custom-nav-link fw-bolder" asp-area="" asp-controller="Book" asp-action="BookList">Kitap Listesi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase custom-nav-link fw-bolder" asp-area="" asp-controller="Borrowing" asp-action="AddBorrow">Kiralama Ekle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase custom-nav-link fw-bolder" asp-area="" asp-controller="Borrowing" asp-action="BorrowList">Kiralık Listesi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#212529;">
        <div class="container bg-dark text-white">
            <a href="https://www.linkedin.com/in/alperenalemdar/" target="_blank" class="text-decoration-none text-white text-uppercase">Linkedin'e Ulaş</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
