@model BorrowingsDTO

@{
    ViewBag.Title = "Update Borrow";
}

<h2 class="text-center fw-bolder text-uppercase ">Kiralamayı Güncelle</h2>
<div class="container shadow">

<form asp-action="UpdateBorrow" method="post">
    <input type="hidden" asp-for="BorrowingsId" />
    <div class="mb-3">
        <label asp-for="BookId" class="form-label">Kitap Seç</label>
        <select asp-for="BookId" asp-items="ViewBag.BookItems" class="form-control">
            <option value="">Kitap Seç</option>
        </select>
        <span asp-validation-for="BookId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserId" class="form-label">Kullanıcı Seç</label>
        <select asp-for="UserId" asp-items="ViewBag.UserItems" class="form-control">
            <option value="">Kullanıcı Seç</option>
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="BorrowingDate" class="form-label">Borrowing Date</label>
        <input asp-for="BorrowingDate" class="form-control" type="date" />
        <span asp-validation-for="BorrowingDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ReturnTime" class="form-label">Return Time</label>
        <input asp-for="ReturnTime" class="form-control" type="date" />
        <span asp-validation-for="ReturnTime" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark mt-3 mb-3 text-uppercase">Kiralamayı Güncelle</button>
</form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
