@model IEnumerable<MalfunctionDTO>
<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Our Services //</h6>
            <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav w-100 nav-pills me-4">
                    @foreach (var item in Model)
                    {
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <i class="fa fa-oil-can fa-2x me-3"></i>
                            <h4 class="m-0">@item.MalfunctionName</h4>
                        </button>
                        <div class="col-12">
                            <a href="/Malfunction/UpdateMalFunction/@item.Id" class="btn btn-primary">Güncelle</a>
                        </div>
                        <div class="col-12">
                            <a href="/Malfunction/DeleteMalfunction/@item.Id" class="btn btn-primary">Sil</a>
                        </div>
                    }



                </div>
         </div>
            
                    
    </div>
</div>